.hover-me {
    --color-primary: #1a9cc5;
    --shade: 25px;
    --time-duration: .25s;
    background-color: #000;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
    padding: 1.25rem 4.5rem;
    position: relative;
    top: 0;
    transition: var(--time-duration) ease-in;
  }
  .hover-me__text {
    font-size: 0.875rem;
    font-family: "VT323", monospace;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  .hover-me::after {
    background-image: linear-gradient(0deg, var(--color-primary) 12.5%, transparent 12.5%, transparent 50%, var(--color-primary) 50%, var(--color-primary) 62.5%, transparent 62.5%, transparent 100%);
    background-size: 8px 8px;
    bottom: calc((var(--shade) * -1) + 1rem);
    clip-path: polygon(0 0, 100% 0, 85% 50%, 15% 50%);
    content: "";
    height: var(--shade);
    left: 0;
    transition: var(--time-duration) ease-in;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .hover-me:hover {
    top: -1rem;
  }
  .hover-me:hover::after {
    bottom: -1.625rem;
  }
  
  /* general styling */
  body {
    align-items: center;
    background-color: #000;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
  }